
h1 {
  color: #2a1b3d;
}

h2.intro {
  color: #44318d;
}

h3.intro {
  color: #e98074;
}


img.intro {
  display: block;
  margin: 0 auto;
}


p.intro {
  color: #a4b3b6;
  font-size: 20px;
}

body {
  text-align: center;
  font-family: monospace;
}
